@import "../variables";

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F4F8;
    border-radius: 16px;
    padding-bottom: 1.5rem;
    &__arrow {
        margin: 8px 4px;
    }
    &__button-back {
        border: none;
        border-radius: 50%;
        background-color: #fff;
        width: 37px;
        height: 37px;
        &:hover  {
            cursor: pointer;
        }
        &:active {
            background-color: #e6e7eb;
            transition: background-color 0.3s linear;
        }
    }
    &__header {
        display: flex;
        justify-content: center;
        position: sticky;
    }
    &__nav {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        color: $purple;
        margin: 30px 152px 10px;
    }
}

.list {
    padding: 0 3.25rem 0 1.75rem;
    margin: 0;
}